{% extends "stats_layout.html" %}
{% block rows %}

                    <tr>
                        <th scope="row">2021-07-04</th>
                        <td>5.0</td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>90</td>
                        <td>Strength, Cardio</td>
                        <td>Ice Cream</td>
                        <td>I watched movie :)</td>
                    </tr>
                
                    <tr>
                        <th scope="row">2021-07-04</th>
                        <td>6.5</td>
                        <td>No</td>
                        <td>Yes</td>
                        <td>0</td>
                        <td>None</td>
                        <td>None</td>
                        <td>dqdqw</td>
                    </tr>
                
{% endblock %}