.shift {
  position: relative;
  margin-top: 75px
}
.btn {
  background: #00b300;
  border-color: #009d00;
}
.btn:hover {
  background: #009d00;
  border-color: #008900;
}
.btn:focus {
  background: #009d00;
  border-color: #008900;
}