.content-block {
	animation: transitionIn 0.75s;
}

.alert {
	position: absolute;
	padding: 20px;
	background-color: #2d682f; 
	color: white;
	margin: 50px auto auto;
	width: 360px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* The close button */
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}

.bg-steel { 
	background-color: #4CAF50; 
}

.navbar-nav .nav-link { 
	color: #cbd5db; 
	position: relative;
}

.nav-link:hover { 
	color: #ffffff; 
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}