.bg-steel { background-color: #4CAF50; }

.navbar-nav .nav-link { color: #cbd5db; }

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}

.bg-steel { 
	background-color: #4CAF50; 
}

.navbar-nav .nav-link { 
	color: #cbd5db; 
	position: relative;
}

.nav-link:hover { 
	color: #ffffff; 
}

