<!DOCTYPE html>
<html>

	<head>
		<!-- Necessary Setup Links -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
		<style>
			.flashes { position:absolute }
		</style>
		<meta charset="utf-8">
		{% block css %}{% endblock %}

		<!-- Title Block -->
		<title>{% block title %}{% endblock %}</title>
		
	</head>

	<body style="background-color:#79b956;text-align:center">

		<!-- Navigation bar -->
      	<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        	<div class="container">

    			<!-- Health Tracker (Links to Home Page (Relace with Logo in Future) -->
          		<a class="navbar-brand" href="/">Health Tracker</a>

          		<!-- Left Align: Links to Home and Stats Pages -->
          		<div class="navbar-collapse navbar-nav">
          			<a class="nav-item nav-link" href="/home">Home</a>
      			    {% if session["username"] %}
				        <a class="nav-item nav-link" href="/stats">Statistics</a>
				        <a class="nav-item nav-link" href="/graphs">Graphs</a>
				        <a class="nav-item nav-link" href="/log_data">Log Data</a>
				        <a class="nav-item nav-link" href="/search">Search</a>
				    {% endif %}
          		</div>

          		<!-- Right Align: Links to Login and Register Page -->
          		<div class="navbar-nav">
          			{% if session["username"] %}
				        <a class="nav-item nav-link" href="/logout">Logout</a>
				    {% else %}
				        <a class="nav-item nav-link" href="/login">Login</a>
	      				<a class="nav-item nav-link" href="/register">Register</a>
				    {% endif %}
          		</div>

        	</div>
      	</nav>

      	<!-- Main Container For Future Use -->
      	{% block homepage %}{% endblock %}
	    <main role="main" class="container">
	      	<div class="content-block">
	        	<div>
	        		{% block content %}{% endblock %}
          		</div>
  			</div>
	    </main>
	    

	    <!-- Necessary Java Script (Bootstrap) -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		{% block js %}{% endblock %}

	</body>
</html>