{% extends "base.html" %}

{% block title %}Data Logging Page{% endblock %}

{% block content %}


<div class="shift">
<form action="" method="POST">

  <!-- How do you feel? -->
  <label for="feelingInput" class="form-label"><u>How do you feel today? (1-5)</u></label>
  <div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="feeling" id="feelingInput" value="1" onclick="fieldComplete('sleep')">
      <label class="form-check-label">1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="feeling" id="feelingInput" value="2" onclick="fieldComplete('sleep')">
      <label class="form-check-label">2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="feeling" id="feelingInput" value="3" onclick="fieldComplete('sleep')">
      <label class="form-check-label">3</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="feeling" id="feelingInput" value="4" onclick="fieldComplete('sleep')">
      <label class="form-check-label">4</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="feeling" id="feelingInput" value="5" onclick="fieldComplete('sleep')">
      <label class="form-check-label">5</label>
    </div>
  </div>

  <!-- How much sleep? -->
  <div id="sleep" style="display:none">
    <br>
    <label for="sleepSlider" class="form-label"><u>How much sleep did you get?</u></label><br>
    <input id="sleepSlider" type="range" value="8" min="1" max="12" step="0.5" name="sleep" oninput="this.nextElementSibling.value = this.value" onclick="fieldComplete('workout')">
    <output>8</output>
  </div>

  <!-- Did you Workout? -->
  <div id="workout" style="display:none">
    <br>
    <label for="workoutBool" class="form-label"><u>Did you work out today?</u></label><br>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="workout" id="workoutBool1" value="1" onclick="fieldComplete1(1)">
      <label class="form-check-label">Yes</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="workout" id="workoutBool2" value="0" onclick="fieldComplete1(0)">
      <label class="form-check-label">No</label>
    </div>
  </div>

  <!-- Length of Workout -->
  <div id="workoutLength" style="display:none">
    <br>
    <label for="workoutTime" class="form-label"><u>How long was your workout? (minutes)</u></label><br>
    <input id="workoutTime" name="workoutTime" type="range" value="60" min="0" max="120" step="15" oninput="this.nextElementSibling.value = this.value">
    <output>60</output>
  </div>

  <!-- Type of Workout -->
  <div id="typeWorkout" style="display:none">
    <br>
    <label for="workoutype" class="form-label"><u>What exercise(s) did you do?</u></label><br>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="workoutType" name="workoutType" value="Strength" onclick="fieldComplete('healthy')">
      <label class="form-check-label" for="workoutType">Strength</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="workoutType" name="workoutType" value="Cardio" onclick="fieldComplete('healthy')">
      <label class="form-check-label" for="workoutType">Cardio</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="workoutType" name="workoutType" value="Other" onclick="fieldComplete('healthy')">
      <label class="form-check-label" for="workoutType">Other</label>
    </div>
  </div>

  <!-- Did you eat healthy? -->
  <div id="healthy" style="display:none">
    <br>
    <label for="healthyBool" class="form-label"><u>Did you eat healthy today?</u></label><br>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="healthy" id="healthyBool" value="Yes" onclick="fieldComplete2(1)">
      <label class="form-check-label">Yes</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="healthy" id="healthyBool" value="No" onclick="fieldComplete2(0)">
      <label class="form-check-label">No</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="healthy" id="healthyBool" value="Somewhat" onclick="fieldComplete2(0)">
      <label class="form-check-label">Somewhat</label>
    </div>
  </div>



  <!-- Unhealthy Food -->
  <div class="mb-3" id="unhealthyFood" style="display:none">
    <br>
    <label for="unhealthyFoodInput" class="form-label"><u>Track Unhealthy Food Here</u></label>
    <input class="form-control" id="unhealthyFoodInput" name="unhealthyFood" placeholder="Pizza, Ice Cream, etc..." onchange="fieldComplete('proudAchievement')">
  </div>

  <!-- Proud Achievement -->
  <div class="mb-3" id="proudAchievement" style="display:none">
    <label for="proudAchievementTextbox" class="form-label"><u>What's one thing you did today that you're proud of?</u></label>
    <textarea class="form-control" name="proudAchievement" id="proudAchievementTextbox" rows="3" placeholder="I am proud of..." onchange="fieldComplete('submitButton')"></textarea>
  </div>

  <!-- Submit Button -->
  <div style="text-align:center;display:none" id="submitButton">
      <input type="submit" value="submit" class="button" >
  </div>
</form>
</div>


{% endblock %}

{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='log_data.css') }}">
{% endblock %}

{% block js%}
<script type="text/javascript" src="{{ url_for('static', filename='log_data.js') }}"></script>
{% endblock %}
