{% extends "base.html" %}

{% block title %}Data Logging Page{% endblock %}

{% block content %}

<div class="shift">

  <label for="exampleFormControlInput1" class="form-label"><u>How do you feel today? (1-5)</u></label>
  <div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="feeling1" value="option1">
      <label class="form-check-label">1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="feeling2" value="option2">
      <label class="form-check-label">2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="feeling3" value="option3">
      <label class="form-check-label">3</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="feeling4" value="option4">
      <label class="form-check-label">4</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="feeling5" value="option5">
      <label class="form-check-label">5</label>
    </div>
  </div><br>

  <div>
    <label for="customRange3" class="form-label"><u>How much sleep did you get?</u></label><br>
    <input type="range" value="8" min="1" max="12" step="0.5" oninput="this.nextElementSibling.value = this.value">
    <output>8</output>
  </div><br>

  <div>
    <select class="form-select" aria-label="Default select example">
      <option selected>Did you work out today?</option>
      <option value="1">Yes</option>
      <option value="2">No</option>
    </select>
  </div><br>

  <div>
    <select class="form-select" aria-label="Default select example">
      <option selected>Did you eat healthy today?</option>
      <option value="1">Yes</option>
      <option value="2">No</option>
    </select>
  </div><br>

  <div>
    <label for="customRange3" class="form-label"><u>How long was your workout? (minutes)</u></label>
    <br>
    <input type="range" value="60" min="0" max="120" step="15" oninput="this.nextElementSibling.value = this.value">
    <output>60</output>
  </div><br>

  <div>
    <label for="customRange3" class="form-label"><u>What type of exercise did you do?</u></label><br>
    <label><input type="checkbox"> <span>Strength</span></label>
    <label><input type="checkbox"> <span>Cardio</span></label>
    <label><input type="checkbox"> <span>Other</span></label>
  </div><br>


  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><u>Track Unhealthy Food Here</u></label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Pizza, Ice Cream, etc...">
  </div><br>


  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"><u>What's one thing you did today that you're proud of?</u></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="I am proud of..."></textarea>
  </div>

</div>

{% endblock %}

{% block css %}
<style type="text/css">
  .shift {
    position: relative;
    margin-top: 75px
  }
</style>
{% endblock %}